

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

ul#results
{
	padding: 0;
	list-style-type: none;
}

ul#results > li
{
	display: block;
	padding: 0;
}

ul#results > li > a
{
	display: block;
}

ul#results > li > a > img
{
	display: block;
	width: 100%;
}

#searching,
#no-results
{
	display: none;
	text-align: center;
	font-size: 200%;
}

.jumbotron
{
	padding: 32px 0;
}

.jumbotron h1
{
	font-size: 42px;
}

.jumbotron label
{
	font-size: 21px;
}
